* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
}

body {
    background-image: url("https://static.wikia.nocookie.net/projectsekai/images/7/7d/A_Moment_Full_Of_Warmth_T.png/revision/latest");
    background-position: center;
    background-size: cover;
    color: white;
}

.top {
    border-radius: 20pt;
    padding: 20pt;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    width: 500pt;
    margin: 0 auto;
    margin-top: 100pt;
    margin-bottom: 50pt;
    font-size: 20pt;
    color: black;

}

a {
    text-decoration: none;
}

.link {
    color: white;
    font-weight: bold;
}

.main {
    width: 1000pt;
    margin: 0 auto;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20pt;
}

p {
    font-size: 20pt;
    margin-bottom: 30pt;
}

.button {
  padding: 12px 24px;
  background: rgb(225, 142, 255);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
}